.services {
    height: 85vh;
    text-align: center;
   
}

.service-title { 
    margin-left: auto;
    margin-right: auto;
}

.service-container { 
    display: flex;
    margin-left: auto;
    margin-right: auto;
   
}



.service-left-side {
  margin-right: auto;
  margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.service-right-side {
    margin-top: 30px;
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.feature-column {
    display: flex;
    flex-direction: column;
}
.rectangle {
    display: inline-block;
    margin-top: 20px;
    width: 90px;
    height: 45px;
    z-index: 1;
    background: #F1694B;
  }