.service {
    height: 85vh;
    background: #FC232F;
}

.service-container {
    
    display: flex;
    flex-direction: column;
    text-align: center;
}

.service-title {
    margin-top: 20px;
}

.service-left-side {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.service-right-side {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}