@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Montserrat:wght@100&display=swap');

.Header {
    height: 45vh;
    
}

.Header-BodyContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    
}

.Header-BodyContainer-Left { 
    width: 800px;
   height: 400px;
   margin-left: auto;
}

.Header-BodyContainer-Left >h1 {
    margin-top: auto;
    margin-bottom: 25px;
    color: white;
}

.Header-BodyContainer-Left >p {
    margin-bottom: 18px;
    color: white;
}

.Header-BodyContainer-Left-ButtonsContainer {

    width: 60%;
    display: flex;
 
}

.Header-BodyContainer-Left-ButtonsContainer >button:hover {
    color: white;
    background-color: blue;
    transition: all 200ms ease-in-out;
    border-radius: 50px;
    padding: 10px;
}

.Header-BodyContainer-Left-ButtonsContainer >button {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    border-style: none;
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(235, 99, 65);
    cursor: pointer;  
    
}

.Header-BodyContainer-Right {
 display: flex;
 width: 500px;
 height: 300px;
}

.Header-red {
    align-content: flex-end;
    position: relative;
    margin-bottom: 50px;
    z-index: 2;
    border: 1px;
    
}


.Header-blue {
    position: relative;
    z-index: 1;
}

.App-bluePlacement {
    align-content: flex-end;
    position: absolute;
}



.Header-FooterContainer {

}